---
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Carrusel from '@components/carrusel.astro';
import Novedades from "@components/novedades.astro";
import About from "@components/about.astro";
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/navbar/navbar.astro";
import Wh from "@components/wh.astro";
---

<Layout title="">
    <Navbar />
    <Carrusel />
  </div>
  <About />
  <Features />
  <Novedades />
  <Cta />
  <Wh phone="5491171387291" />
</Layout>