---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Navbarlight from "@components/navbar/navbarlight.astro";
---
<script src="https://www.google.com/recaptcha/api.js"></script>

<style>
  input{
    border: 1px solid black;
    margin-bottom: 1rem;
    max-width: 500px;
    padding: 1rem;
  }
</style>

<Layout title="Login">
  <Navbarlight />
  <Container>
    <Sectionhead>
      <Fragment slot="title">Login</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <main class="mt-16">
      <form id="loginForm" class="grid">
          <input type="text" id="username" name="username" required placeholder="Usuario" />
          <input type="password" id="password" name="password" required placeholder="Contraseña" />
        <button type="submit"
        class="g-recaptcha" 
        data-sitekey="6LfFihEqAAAAADir_HK0ULFjVohCwMOenjW2NJQ7" 
        data-callback='onSubmit' 
        data-action='submit'>Iniciar sesión</button>
      </form>
    </main>
  </Container>
</Layout>

<script is:inline>
  function onSubmit(token) {
    document.getElementById("demo-form").submit();
  }

  window.addEventListener("load", () => {
    const form = document.getElementById("loginForm");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;

      try {
        const response = await fetch("http://localhost:3001/api/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            username,
            password,
          }),
        });

        if (!response.ok) {
          alert("Credenciales inválidas");
          throw new Error("Credenciales inválidas");
        }

        const data = await response.json();
        const { token } = data;

        // Guardar el token en localStorage para mantener la sesión
        localStorage.setItem("tokenChestudio", token);
        const tokenLocal = localStorage.getItem('tokenChestudio');
        console.log("Token agregado de manera exitosa", tokenLocal);

        // Redireccionar al panel de administrador
        window.location.href = '/admin';
      } catch (error) {
        console.error("Error en la solicitud de inicio de sesión:", error.message);
        alert("Error en la solicitud de inicio de sesión. Inténtelo nuevamente.");
      }
    });
  });
</script>
