---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Navbarlight from "@components/navbar/navbarlight.astro";

// Importar el archivo JSON desde la carpeta public/data
import publicaciones from '../../public/data/publicaciones.json';

const canonicalURL = "https://chestudioabogados.com/publicaciones"; // Enlace canónico de la página de publicaciones
---

<style>
  * {
    font-family: "Archivo", sans-serif;
  }
  
  h1, h2, h3 {
    font-family: "Literata", serif;
  }
</style>

<Layout title="Publicaciones">
  <Navbarlight />
  
  <!-- SEO para la página de publicaciones -->
  <SEO
    title="Publicaciones | Chestudio"
    description="Accede a los artículos y comentarios publicados sobre las últimas tendencias legales en derecho tecnológico y digital."
    canonical={canonicalURL}
    openGraph={{
      basic: {
        url: canonicalURL,
        type: "website",
        title: "Publicaciones | Chestudio",
        image: "https://chestudioabogados.com/opengraph-publicaciones.jpg", // Imagen predeterminada
      },
      image: {
        alt: "Publicaciones de Chestudio",
      },
    }}
  />
  
  <Container>
    <div class="mx-auto max-w-3xl mt-14 text-center">
      <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        Artículos y comentarios publicados
      </h1>
      <p class="text-lg text-gray-600 mt-2">Acá podés encontrar nuestros artículos y comentarios publicados, donde acordamos las últimas tendencias, novedades legales y temas relevantes en el ámbito del derecho tecnológico y digital</p>
      <div class="mt-6">
        <ul>
          {publicaciones.map((row, index) => (
            <li key={index} class="mb-6 border-b border-gray-300 pb-6">
              <div class="flex justify-between items-center">
                <h3 class="text-xl font-semibold text-gray-800">{row.titulo}</h3> {/* Titulo */}
                <a 
                  href={row.url}  {/* URL (columna B) */}
                  target="_blank" 
                  class="uppercase text-c pill mt-3 px-6 py-3 bg-blue-500 text-white font-semibold rounded-lg hover:#2d3748 transition-colors duration-300 ease-in-out">
                  Ver publicación
                </a>
              </div>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </Container>
</Layout>
