---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Navbarlight from "@components/navbar/navbarlight.astro";

// Importar dinámicamente las publicaciones
const publicaciones = await Astro.glob("../content/publicaciones/*.md");
---

<Layout title="Publicaciones">
  <Navbarlight />
  <Container>
    <div class="mx-auto max-w-3xl mt-14 text-center">
      <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        Artículos y comentarios publicados
      </h1>
      <p class="text-lg text-gray-600 mt-2">Encontrá aquí información útil</p>
      <div class="mt-6">
        <ul>
          {publicaciones.map((publicacion) => (
            <li key={publicacion.frontmatter.titulo} class="mb-6 border-b border-gray-300 pb-6">
              <div class="flex justify-between items-center">
                <h3 class="text-xl font-semibold text-gray-800">{publicacion.frontmatter.titulo}</h3>
                <a 
                  href={publicacion.frontmatter.link} 
                  target="_blank" 
                  class="uppercase text-c pill mt-3 px-6 py-3 bg-blue-500 text-white font-semibold rounded-lg hover:#2d3748 transition-colors duration-300 ease-in-out">
                  Ver publicación
                </a>
              </div>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </Container>
</Layout>
