---
import { Icon } from "astro-icon";
import featuresData from "../../public/data/features.json"; // Importación del JSON

const features = featuresData; // Directamente usamos el array raíz
---

<style>
  section {
    background-color: var(--color-celeste-light);
  }
  h3 {
    font-family: "Literata";
  }
  .material-symbols-outlined {
    font-size: 2.5rem;
    height: fit-content;
  }
  
</style>

<section id="servicios" class="px-5 py-20 text-aa">
  <div class="mt-16 md:mt-0 text-center">
    <h2 class="text-3xl lg:text-3xl lg:tracking-tight">Servicios</h2>
    <p class="text-lg mt-4 text-balance">
      Nos desempe&ntilde;amos en las siguientes áreas
    </p>
  </div>

<div class="grid md:grid-cols-2 mx-auto mt-16 gap-y-8 gap-x-5 max-w-5xl justify-items-center">
    {features.map((item) => (
      <div class="flex gap-4 items-center">
        <div class="bg-c rounded-full p-5 w-20 h-20 grid place-content-center shrink-0">
          {item.icon && (
            <span class="material-symbols-outlined">{item.icon}</span>
          )}
          {item.astroIcon && (
            <Icon class="w-10 h-10" name={item.astroIcon} />
          )}
        </div>
        <div class="max-w-xs">
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="font-light mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))}
  </div>
</section>
