---
import Link from "@components/ui/link.astro";
---

<style>
  main {
    margin-top: 5rem;
  }
  h1{
    font-family: "Literata"
  }
</style>

<main class="grid place-items-center gap-20 pt-16 pb-8 md:pt-12 md:pb-24">
  <h1
    class="text-5xl lg:text-6xl xl:text-7xl text-balance text-center text-white">
    Defendemos tus derechos<br />
    <b>en la era digital.</b>
  </h1>

  <Link
    href="https://43ce9ff9-3ace-4065-bc1d-3dd7aad3db58.filesusr.com/ugd/67d70e_100f37085dc945f8bfd0d56a36bfb2f4.pdf"
    class="uppercase text-c pill"
    target="_blank"
  >
    Saber m&aacute;s
  </Link>
</main>
